.professor-schedule-time {
    background-color: #ffffff;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 8%;
    border-radius: 10px;
    padding: 1.5% 0.7% 0.7% 0.7%;
}

.professor-schedule-time p {
    margin: 0;
    color: #32381C;
    font-size: 24px;
    font-weight: bold;
    margin: auto auto 0px auto;
}

.professors-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line-under {
    margin: -12px auto 5% auto;
}

.professor-schedule-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    width: 85%;
    padding: 0 20px;
    margin: 0 15px 0 0;
    border-radius: 10px;
}