/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #444;
}

.sidebar-header .close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 1em;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}

.overlay.active {
  display: block;
}

/* Additional CSS */
body {
  background-color: #F2F2F2;
  font-family: 'Montserrat' !important;;
}

.main-page {
  background-color: #F2F2F2;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 6%;
}

.hello {
  color: rgb(103, 107, 87);
}

.main-card {
  display: flex !important;
  background-color: #ffffff;
  border-radius: 10px;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  padding: 2.5% 4% 2.5% 4%;
}

.main-page-content {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  justify-content: center;
}

.ab {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

/* search-bar */

.search-bar {
  background-color: #f2f2f2; /* Фон строки поиска */
  border-radius: 10px; /* Скругление углов поля */
  width: 90%;
  margin-bottom: 3.5%;
}

.aw.h {
  display: flex; /* Работаем с flexbox для размещения элементов */
  /* justify-content: center; Центрирование содержимого */
  align-items: center; /* Выравнивание по центру */
  padding: 10px; /* Добавляем внутренний отступ */
}

.ab.ax.ay.az.ba.q.bb.bc {
  display: flex; /* Используем flexbox для размещения элементов */
  align-items: center; /* Выравнивание по центру */
}

.ax.bd.be.bf.z.bg.bh.bi.bj.bk {
  flex-grow: 1; /* Размер поля занимает 1/3 экрана */
  border-radius: 10px; /* Скругление углов поля */
  padding: 0px; /* Добавляем внутренний отступ */
  font-size: 16px; /* Устанавливаем размер шрифта */
  color: #333; /* Цвет текста */
  background-color: transparent; /* Фон поля прозрачный */
  outline: none; /* Убираем границу вокруг поля */
  border: none;
}

/* tripple-bar */
.tripple-bar {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5.6%;
}

.bar-course, .bar-group, .bar-minigroup {
  background-color: #F2F2F2;
  width: 30%;
  border-radius: 15px;
  /* потом убрать */
  height: 120px;
}

.bar-content {
  margin: 7% 0% 0% 7%; 
  font-size: 24px;
}

.course {
  color: rgb(103, 107, 87);
  font-weight: bold;
  margin-bottom: 7%;
}

.text-course {
  display: flex;
  color: #ABABAB;
  flex-direction: row;
  align-items: center;
}

.text-course span {
  font-weight: 500;
}

.mini-line {
  margin-left: 2%;
  margin-right: 2%;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px); /* Вычитаем высоту header и footer, если они есть */
  width: 100%;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2.5% 4% 2.5% 4%;
  width: 50%;
}

.menu-lines {
  margin: 15px 0% 0% 15px !important;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-in {
  margin: 0 15px 0 0;
  font-weight: bold;
}
